

 /* @import url('https://fonts.googleapis.com/css?family=Quicksand'); */
 /*@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900');*/



@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

html,body {
  height: 100%;
} 

.wrapper {
  height: 100%;
  padding: 0;
  font-family:  'Didact Gothic', sans-serif; /*"Helvetica Neue", Helvetica;*/
  background-color: #343A40;
}

p{
  font-family: 'Didact Gothic', sans-serif; /*"Helvetica Neue", Helvetica; */
}


/* ***** Slide out menu start ***** */
.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 34.875em;
  top: 0;
  right: 0px;
  background-color: #fb2b11;
  overflow-x: hidden;
  transition: 0.2s;
  padding-top: 2em;
}

/*
.triangle {
  width:0;
  height:0;
  border-top: 558px solid red;
  border-left: 558px solid transparent;
}
*/

.sidepanel a {
  padding: 5px 1px 5px 50px;
  text-decoration: none;
  font-size: 2em;
  color: #080000;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #D5D1D0;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 36px;
}

.openbtn {
  position: absolute;
  position: fixed;
  cursor: pointer;
  background-color:transparent;
  color: #fb2b11;
  right: 0;
  padding-right: 10px;
  padding-top: 0px;
  border: none;
}

.openbtn:hover {
  background-color: #fb2b11;
}
/* end */

/* ***** Scroll arrow ***** */
.arrow {
  border: solid #fb2b11;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 10px;
  position: absolute;
  bottom: 10px;
  text-align: center;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
/* end */



.picture {
  display:inline-block;
}

/* ***** Adelaide oval hotel background ***** */
.bg-2 {
  background-image: url("images/Adelaide _Oval_Boutique_Hotel_front.jpg");
  background-size: cover;
}

.col-sm-4 {
  padding: 10px;
}

.fixed-bg {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%; 
  width: 100%;
  font-size: 100px;
  color: #fb2b11; 
  text-align: center;
  display: table;
}

.fixed-bg h1 {
  display: table-cell;
  vertical-align: middle;
  font-family: 'cabin', sans-serif;
  font-weight: 500;
  font-size: 95px;
}

.fixed-bg h2 {
  display: table-cell;
  text-align: left;
  font-family: 'cabin', sans-serif;
  font-weight: 500;
  font-size: 50px;
}

h4 {
  padding: 3px;
  font-weight: bold;
}

h3 {
  font-weight: bold;
}

.scroll-bg {
  background-color:white;
  font-size: 50px;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 50px;
  color: #fb2b11;
}

p {
  font-size: medium;
  font-weight: lighter;
}

.content {
  /* gill sans */
  font-family: "Helvetica Neue", Helvetica;
  color: #000000;
  padding: 0px 0px;
}

.card-body {
  color:#ffffff;
}

.card-text {
  color: #000;
}

.card-text-contact {
  color: #ffffff;
}

.row-bottom-margin { 
  margin-bottom:10px; 
}

.projects {
  color: #000;
  padding-left: 5px;
  padding-top: 0px;
  padding-bottom: 10px;

}

.intro {
  background-color: white;
  padding-top: 50px;
  padding-bottom: 40px;
  border-radius: 5px;
  color: #000000;
  text-align: justify;
}

hr.solid {
  border: 10px solid;
  color: #000000;
  margin-top: 5px;
}


/* ***** footer ***** */
.footer {
  color:  #fff;
  background-color: #343a40;
  background-size: cover;
  float: left;
  padding-top: 40px;
  width: 100%;
}

.footerColOne {
  text-align: center; 
  padding-right: 0px;
  padding-top: 20px;
  padding-left: 0px;
  padding-bottom: 10px;
}

.footerColTwo {
  text-align: center;
  padding-right: 0px;
  padding-top: 20px;
  padding-left: 0px;
  padding-bottom: 10px;
}

.footerColThree {
  text-align: center;
  padding-right: 0px;
  padding-top: 20px;
  padding-left: 0px;
  padding-bottom: 10px;
}


/* ***** flip card ***** */
.card-flip > div {
  backface-visibility: hidden;
  transition: transform 500ms;
  transition-timing-function: linear;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
}

#contactCard {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0;
}

.card-front {
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
}

.card-flip:hover .card-front {
  transform: rotateY(-180deg);
}
  
.card-flip:hover .card-back {
  transform: rotateY(0deg);
}

/* ***** project images overlay descriptions ***** */

.container_1 {                               /* for hover over text description */
  position: relative;
  width: auto;
  max-width: 100%px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.imgdiv01{                                   /* set image row height */
  height: 307px;
  overflow: hidden;
}

.imgdiv02{                                   /* set image row height */
  height: 290px;
  overflow: hidden;
}

.imgdiv03{                                   /* set image row height */
  height: 340px;
  overflow: hidden;
}

.overlay {                                      /* for hover over text description */
  position: absolute; 
  top: 0; 
  background: #fb2b11;
  color: #000; 
  width: 50%;
  transition: .75s ease;
  opacity:0;
  color: #000;
  font-size: 16px;
  padding: 20px;
  text-align:left;
}

.container_1:hover .overlay {       /* for hover over text description */
  opacity: 0.90;
}