

 /* @import url('https://fonts.googleapis.com/css?family=Quicksand'); */
 /*@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900');*/

/* 10px = 0.625em, 15px = 0.94em, 20px = 1.25em */

@media screen and (max-height: 28.125em) {
  .sidenav {padding-top: 0.94em;}
  .sidenav a {font-size: 1.125em;}
} 

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

html,body {
  height: 100%;
} 

/* Cross fade background image 
    #crossFade img {
      position:absolute;
      left:0;
      -webkit-transition: opacity 2s ease-in-out;
      -moz-transition: opacity 2s ease-in-out;
      -o-transition: opacity 2s ease-in-out;
      transition: opacity 2s ease-in-out;
    }

    #crossFade img.top:hover {
      opacity:0;
    }

    #crossFade img.middle:hover {
      opacity:0;
    }
 cf end */

.wrapper {
  height: 100%;
  width: 100%;
  padding: 0;
  font-family:  'Diact Gothic', sans-serif; /*"Helvetica Neue", Helvetica; ------ font-family: 'Prompt', sans-serif; 'Didact Gothic', sans-serif; */
  background-color: #343A40;
}


/* ***** Slide out menu start ***** */
.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 34.875em;
  top: 0;
  right: 0px;
  background-color: #343a40;
  opacity: 0.80;
  overflow-x: hidden;
  transition: 0.2s;
  padding-top: 2em;
}

/*
.triangle {
  width:0;
  height:0;
  border-top: 558px solid red;
  border-left: 558px solid transparent;
}
*/


.sidepanel a {
  padding: 5px 1px 5px 50px;
  text-decoration: none;
  font-family:  '', sans-serif;
  font-size: 1.75em;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #D5D1D0;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 1.25em;
  font-size: 2.25em;
}

/* hamburger */
.openbtn {
  position: absolute;
  position: fixed;
  cursor: pointer;
  background-color:transparent;
  color: #000;
  right: 0;
  padding-right: 0.94em;
  padding-top: 0px;
  border: none;
}

.openbtn:hover {
  background-color: #343A40;
}
/* end */

/* ***** Scroll arrow ***** */
.arrow {
  border: solid #ffffff;
  border-width: 0 7px 7px 0;
  display: inline-block;
  padding: 0.2em;
  position: absolute;
  bottom: 0.2em;
  text-align: center;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
/* end */

.picture {
  display:inline-block;
}

.bg-1 {
  background-color: #333333;
  background-repeat:no-repeat;
  background-size: cover; 
}

/* ***** Adelaide oval hotel background ***** images/Adelaide _Oval_Boutique_Hotel_front_BW.jpg */
.bg-2 {

  background-image: url("images/Circular_spoke_ceiling_03.jpg");

  /*
   background-image: url("images/Adelaide _Oval_Boutique_Hotel_front_3D_02.jpg");
  */
 
    /*
  background-image: url("images/Adelaide\ _Oval_Boutique_Hotel_front_3D.jpg");
    */
  background-color: #333333;
  background-repeat:no-repeat;
  background-size: cover; 
}

.col-sm-4 {
  padding: 0.62rem;
}

.fixed-bg {
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-position: center;
  height: 100%; 
  width: 100%; 
  font-size: 100px;
  color: #333333; 
  text-align: center;
  display: table;
}

.fixed-bg h1 {
  display: table-cell;
  vertical-align: middle;
  font-family: 'Diact Gothic', sans-serif; /* "Helvetica Neue", Helvetica; 'Diact Gothic', sans-serif; */
  font-weight: 500;
  font-size: 1.0em;
}

/*
@media screen and (max-width: 2559) {
  .fixed-bg h1 {
  font-size: 95px;
  }
*/

/*
.fixed-bg h2 {
  display: table-cell;
  text-align: left;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 500;
  font-size: 50px;
}
*/

h4 {
  padding: 3px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica;
}

h3 {
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica;
}

.content-bg {
  background-color: #ffffff;
  font-size: 3.125em;
  padding-top: 1.25em;
  padding-bottom: 10px;
  padding-left: 0.0em;

}

p {
  font-family: 'Prompt', sans-serif; /*"Helvetica Neue", Helvetica; 'Diact Gothic', sans-serif; */
  font-weight: lighter;
}

#main {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#content{
  /* alternative gill sans */
  font-family: "Helvetica Neue", Helvetica;
  color: #333333;
  padding: 0px 0px;
}

.card-body {
  color:#ffffff;
}

.card-text {
  color: #000;
}

.card-text {
  font-size: 0.5em;
}

.card-text-contact {
  color: #ffffff;
}

.row-bottom-margin { 
  margin-bottom: 0.94em; 
}

.projects {
  color: #000;
  padding-left: 5px;
  padding-top: 0px;
  padding-bottom: 10px;
  font-family: "Helvetica Neue", Helvetica;
}

.intro {
  background-color: white;
  padding-top: 50px;
  padding-bottom: 40px;
  border-radius: 5px;
  color: #000000;
  text-align: justify;
}

#rule {
  border: 10px solid;
  color: #000000;
  margin-top: 5px;
}


/* ***** footer ***** */
.footer {
  color:  #fff;
  background-color: #343a40;
  background-size: cover;
  float: left;
  padding-top: 2.5em;
  width: 100%;
}

.footerColOne {
  text-align: center; 
  padding-right: 0px;
  padding-top: 1.25em;
  padding-left: 0px;
  padding-bottom: 0.625em;
}

.footerColTwo {
  text-align: center;
  padding-right: 0px;
  padding-top: 1.25em;
  padding-left: 0px;
  padding-bottom: 0.625em;
}

.footerColThree {
  text-align: center;
  padding-right: 0px;
  padding-top: 1.25em;
  padding-left: 0px;
  padding-bottom: 0.625em;
}


/* ***** flip card ***** */
.card-flip > div {
  backface-visibility: hidden;
  transition: transform 500ms;
  transition-timing-function: linear;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
}

#contactCard {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0;
}

.card-front {
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
}

.card-flip:hover .card-front {
  transform: rotateY(-180deg);
}
  
.card-flip:hover .card-back {
  transform: rotateY(0deg);
}

/* ***** project images overlay descriptions ***** */

.container_1 {                               /* for hover over text description */
  position: relative;
  width: auto;
  max-width: 100%px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.imgdiv01{                                   /* set image row height */
  height: 307px;
  overflow: hidden;
}

.imgdiv02{                                   /* set image row height */
  height: 290px;
  overflow: hidden;
}

.imgdiv03{                                   /* set image row height */
  height: 340px;
  overflow: hidden;
}

.overlay {                                      /* for hover over text description */
  position: absolute; 
  top: 0; 
  background: #3d4d42;
  color: #ffffff; 
  width: 50%;
  transition: .75s ease;
  opacity:0;
  color: #ffffff;
  font-size: 16px;
  padding: 20px;
  text-align:left;
}

.container_1:hover .overlay {       /* for hover over text description */
  opacity: 0.90;
}